body{

    margin: 0px;
    padding: 0px;
}

.home{

    background-image: url("../images/front.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

.navarea{

    display: flex;
}

.navarea > ul{

    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex: 3;
}

.navarea li{

    margin-right: 1em;
    line-height: 30px;

}

.navarea li a{

    padding: 10px;
    font-family: 'Roboto Slab', serif;;
    text-decoration: none;
    text-transform: uppercase;
    color: #00ffdd;
}

.navarea a:hover {
    background-color: #98fc03;
    color: #0814fc;
  }


 .navarea a.active {
    background-color: #2196F3;
    color: white;
  } 

.navarea > form{

    display: flex;
    justify-content: flex-end;
    flex: 1;
    border: 0;
}

.navarea input{

    flex: 1;
    border-radius: 25px;
    border: 0;
    text-align: center;
     text-decoration: solid;
     text-transform: uppercase;
     font-family: 'Times New Roman', Times, serif;
     font-style: cursive;
}

.navarea button{

    background: #262626;
    border: 0;
    border-radius: 1em;
    color: #ffffff ;
    padding: 8px 20px;
    margin-left: 3px;
}

@media only screen and (max-width: 350px) and (max-width: 991px) {
    .wrapper{
        width: 100%;
    }
    .navarea{
        flex-direction: column;
    }
    .navarea ul{
        flex-direction: row;
    }    

    .features h2{

        text-align: center;
    }
 
}


@media(min-width: 401px) and (max-width: 1024px){

    .wrapper{
        width: 100%;
    }
    .navarea{
        flex-direction: column;
    }
    .navarea ul{
        flex-direction: row;
    }    

    .features h2{

        text-align: center;
    }

    
}



@media(min-width: 200px) and (max-width: 400px){


    body{
        width: 100%;
        height: 100%;
    }

   .features img{

        width: 80px;
   } 
}

@media only screen and (max-width: 767px){

    .wrapper{
        width: 100%;
    }
    .navarea{

        flex-direction: column;
    }
    .navarea ul{
        flex-direction: row;
        margin-bottom: 1em;
    }

    .navarea li{
        padding: 0;
        font-size: 8px;
        text-align: center;
    }
}

.features{

    display: flex;
    flex-direction: column;
    text-align: center;

    color: white;
}

.features h2:hover{

     color: lime;
}